In [10]:
import pandas as pd

#MySql stuff
from sqlalchemy import create_engine
import pymysql

engine = create_engine("mysql://root:April131994@localhost")

#CSVs
parks_csv = "parks.csv"
species_csv = "species.csv"

In [3]:
park_df = pd.read_csv(parks_csv)
species_df = pd.read_csv(species_csv, low_memory =False)

In [17]:
park_df = park_df[['Park Name' , 'State' , 'Latitude' , 'Longitude'
]]
park_df.head(56)

,Park Name,State,Latitude,Longitude
0,Acadia National Park,ME,44.35,-68.21
1,Arches National Park,UT,38.68,-109.57
2,Badlands National Park,SD,43.75,-102.50
3,Big Bend National Park,TX,29.25,-103.25
4,Biscayne National Park,FL,25.65,-80.08
5,Black Canyon of the Gunnison National Park,CO,38.57,-107.72
6,Bryce Canyon National Park,UT,37.57,-112.18
7,Canyonlands National Park,UT,38.20,-109.93
8,Capitol Reef National Park,UT,38.20,-111.17
9,Carlsbad Caverns National Park,NM,32.17,-104.44
10,Channel Islands National Park,CA,34.01,-119.42
11,Congaree National Park,SC,33.78,-80.78
12,Crater Lake National Park,OR,42.94,-122.10
13,Cuyahoga Valley National Park,OH,41.24,-81.55
14,Denali National Park and Preserve,AK,63.33,-150.50
15,Death Valley National Park,"CA, NV",36.24,-116.82
16,Dry Tortugas National Park,FL,24.63,-82.87
17,Everglades National Park,FL,25.32,-80.93
18,Gates Of The Arctic National Park and Preserve,AK,67.78,-153.30
19,Glacier National Park,MT,48.80,-114.00
20,Glacier Bay National Park and Preserve,AK,58.50,-137.00
21,Great Basin National Park,NV,38.98,-114.30
22,Grand Canyon National Park,AZ,36.06,-112.14
23,Great Sand Dunes National Park and Preserve,CO,37.73,-105.51
24,Great Smoky Mountains National Park,"TN, NC",35.68,-83.53
25,Grand Teton National Park,WY,43.73,-110.80
26,Guadalupe Mountains National Park,TX,31.92,-104.87
27,Haleakala National Park,HI,20.72,-156.17
28,Hawaii Volcanoes National Park,HI,19.38,-155.20
29,Hot Springs National Park,AR,34.51,-93.05
30,Isle Royale National Park,MI,48.10,-88.55
31,Joshua Tree National Park,CA,33.79,-115.90
32,Katmai National Park and Preserve,AK,58.50,-155.00
33,Kenai Fjords National Park,AK,59.92,-149.65
34,Kobuk Valley National Park,AK,67.55,-159.28
35,Lake Clark National Park and Preserve,AK,60.97,-153.42
36,Lassen Volcanic National Park,CA,40.49,-121.51
37,Mammoth Cave National Park,KY,37.18,-86.10
38,Mesa Verde National Park,CO,37.18,-108.49
39,Mount Rainier National Park,WA,46.85,-121.75
40,North Cascades National Park,WA,48.70,-121.20
41,Olympic National Park,WA,47.97,-123.50
42,Petrified Forest National Park,AZ,35.07,-109.78
43,Pinnacles National Park,CA,36.48,-121.16
44,Redwood National Park,CA,41.30,-124.00
45,Rocky Mountain National Park,CO,40.40,-105.58
46,Saguaro National Park,AZ,32.25,-110.50
47,Sequoia and Kings Canyon National Parks,CA,36.43,-118.68
48,Shenandoah National Park,VA,38.53,-78.35
49,Theodore Roosevelt National Park,ND,46.97,-103.45
50,Voyageurs National Park,MN,48.50,-92.88
51,Wind Cave National Park,SD,43.57,-103.48
52,Wrangell - St Elias National Park and Preserve,AK,61.00,-142.00
53,Yellowstone National Park,"WY, MT, ID",44.60,-110.50
54,Yosemite National Park,CA,37.83,-119.50
55,Zion National Park,UT,37.30,-113.05

In [18]:
species_df = species_df[['Park Name' , 'Common Names' , 'Scientific Name' , 
                         'Category' , 'Abundance' , 'Nativeness' , 'Conservation Status']]
species_df.head()

,Park Name,Common Names,Scientific Name,Category,Abundance,Nativeness,Conservation Status
0,Acadia National Park,Moose,Alces alces,Mammal,Rare,Native,NaN
1,Acadia National Park,"Northern White-Tailed Deer, Virginia Deer, Whi...",Odocoileus virginianus,Mammal,Abundant,Native,NaN
2,Acadia National Park,"Coyote, Eastern Coyote",Canis latrans,Mammal,Common,Not Native,Species of Concern
3,Acadia National Park,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Canis lupus,Mammal,NaN,Native,Endangered
4,Acadia National Park,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Vulpes vulpes,Mammal,Common,Unknown,NaN

In [9]:
park_df.to_sql

<bound method NDFrame.to_sql of                                          Park Name       State  Latitude  \
0                             Acadia National Park          ME     44.35
1                             Arches National Park          UT     38.68
2                           Badlands National Park          SD     43.75
3                           Big Bend National Park          TX     29.25
4                           Biscayne National Park          FL     25.65
5       Black Canyon of the Gunnison National Park          CO     38.57
6                       Bryce Canyon National Park          UT     37.57
7                        Canyonlands National Park          UT     38.20
8                       Capitol Reef National Park          UT     38.20
9                   Carlsbad Caverns National Park          NM     32.17
10                   Channel Islands National Park          CA     34.01
11                          Congaree National Park          SC     33.78
12                       Crater Lake National Park          OR     42.94
13                   Cuyahoga Valley National Park          OH     41.24
14               Denali National Park and Preserve          AK     63.33
15                      Death Valley National Park      CA, NV     36.24
16                      Dry Tortugas National Park          FL     24.63
17                        Everglades National Park          FL     25.32
18  Gates Of The Arctic National Park and Preserve          AK     67.78
19                           Glacier National Park          MT     48.80
20          Glacier Bay National Park and Preserve          AK     58.50
21                       Great Basin National Park          NV     38.98
22                      Grand Canyon National Park          AZ     36.06
23     Great Sand Dunes National Park and Preserve          CO     37.73
24             Great Smoky Mountains National Park      TN, NC     35.68
25                       Grand Teton National Park          WY     43.73
26               Guadalupe Mountains National Park          TX     31.92
27                         Haleakala National Park          HI     20.72
28                  Hawaii Volcanoes National Park          HI     19.38
29                       Hot Springs National Park          AR     34.51
30                       Isle Royale National Park          MI     48.10
31                       Joshua Tree National Park          CA     33.79
32               Katmai National Park and Preserve          AK     58.50
33                      Kenai Fjords National Park          AK     59.92
34                      Kobuk Valley National Park          AK     67.55
35           Lake Clark National Park and Preserve          AK     60.97
36                   Lassen Volcanic National Park          CA     40.49
37                      Mammoth Cave National Park          KY     37.18
38                        Mesa Verde National Park          CO     37.18
39                     Mount Rainier National Park          WA     46.85
40                    North Cascades National Park          WA     48.70
41                           Olympic National Park          WA     47.97
42                  Petrified Forest National Park          AZ     35.07
43                         Pinnacles National Park          CA     36.48
44                           Redwood National Park          CA     41.30
45                    Rocky Mountain National Park          CO     40.40
46                           Saguaro National Park          AZ     32.25
47         Sequoia and Kings Canyon National Parks          CA     36.43
48                        Shenandoah National Park          VA     38.53
49                Theodore Roosevelt National Park          ND     46.97
50                         Voyageurs National Park          MN     48.50
51                         Wind Cave National Park          SD     43.57
52  Wrangell - St Elias National Park and Preserve          AK     61.00
53                       Yellowstone National Park  WY, MT, ID     44.60
54                          Yosemite National Park          CA     37.83
55                              Zion National Park          UT     37.30

    Longitude
0      -68.21
1     -109.57
2     -102.50
3     -103.25
4      -80.08
5     -107.72
6     -112.18
7     -109.93
8     -111.17
9     -104.44
10    -119.42
11     -80.78
12    -122.10
13     -81.55
14    -150.50
15    -116.82
16     -82.87
17     -80.93
18    -153.30
19    -114.00
20    -137.00
21    -114.30
22    -112.14
23    -105.51
24     -83.53
25    -110.80
26    -104.87
27    -156.17
28    -155.20
29     -93.05
30     -88.55
31    -115.90
32    -155.00
33    -149.65
34    -159.28
35    -153.42
36    -121.51
37     -86.10
38    -108.49
39    -121.75
40    -121.20
41    -123.50
42    -109.78
43    -121.16
44    -124.00
45    -105.58
46    -110.50
47    -118.68
48     -78.35
49    -103.45
50     -92.88
51    -103.48
52    -142.00
53    -110.50
54    -119.50
55    -113.05  >

In [23]:
#Group By For Bora

# Using GroupBy in order to separate the data into fields according to "state" values
grouped_speciesDF = species_df.loc[species_df['Abundance'] == "Rare", :]]

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_speciesDF)

# In order to be visualized, a data function must be used...
grouped_speciesDF.head(10)

SyntaxError: invalid syntax (<ipython-input-23-22034b14c114>, line 4)